.nyroModalBg {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.7;
}

.nmReposition {
	position: absolute;
}
.nyroModalCloseButton {
	top: -13px;
	right: -13px;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: url(../img/close.gif);
}
.nyroModalTitle {
	top: -26px;
	left: 0;
	margin: 0;
    font-size: 1.1em;
	color: #ddd;
}
.nyroModalCont {
	position: absolute;
	border: 4px solid #777;
	margin: 25px;
	background: #fff;
}
.nyroModalCont iframe {
	width: 600px;
	height: 400px;
}
.nyroModalError {
	border: 4px solid red;
	color: red;
	width: 250px;
	height: 250px;
}
.nyroModalError div {
	min-width: 0;
	min-height: 0;
	padding: 10px;
}
.nyroModalLink, .nyroModalDom, .nyroModalForm, .nyroModalFormFile {
	position: relative;
	padding: 10px;
	min-height: 250px;
	min-width: 250px;
	max-width: 1000px;
}
.nyroModalImage, .nyroModalSwf, .nyroModalIframe, .nyroModalIframeForm {
	position: relative;
	overflow: hidden;
}
.nyroModalImage img {
    vertical-align: top;
}
.nyroModalHidden {
	left: -9999em;
	top: -9999em;
}
.nyroModalLoad {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff url(../img/ajaxLoader.gif) no-repeat center;
	padding: 0;
}
.nyroModalPrev, .nyroModalNext {
	outline: none;
	position: absolute;
	top: 0;
	height: 60%;
	width: 150px;
	min-height: 50px;
	max-height: 300px;
	cursor: pointer;
	text-indent: -9999em;
	background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
}
.nyroModalImage .nyroModalPrev, .nyroModalImage .nyroModalNext {
	height: 100%;
	width: 40%;
	max-height: none;
}
.nyroModalPrev {
	left: 0;
}
.nyroModalPrev:hover {
	background-image: url(../img/prev.gif);
}
.nyroModalNext {
	right: 0;
	background-position: right 20%;
}
.nyroModalNext:hover {
	background-position: right 20%;
	background-image: url(../img/next.gif);
}

table, th, td {
    border: 1px solid black;
}
.nyroModalLink tr:nth-child(2n) {
	background-color: #ccc;
}

.nyroModalLink div {
	text-align: center;
}


.test {
	text-align: center;
	float: left;
	margin-left: 25px;
	margin-top: 25px;

}


@import url(http://fonts.googleapis.com/css?family=Open+Sans);

h1 {
  font-size: 32px;
  padding: 10px;
  margin: 0;
  color: #fff;
  background-color: #BDD8DA;
  margin-bottom: 15px;
  font-family: 'Open Sans', 'sans-serif';
}


#container {
	text-align: center;
	float: right;
	width: auto;
}

.right {
    float: right;
    width: auto;
	background: #ECECEC;
	padding: 20px;
}

.left {
    overflow: hidden;
    background: #ECECEC;
	float: left;
	width: auto;
	padding: 10px;
}
.searchStudent {
    background-color: #ECECEC;
    opacity: .9;
    height: 220px;
    width: 800px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0;
    text-align: center;
}

 
table, td, th {
    border: 1px solid #BDD8DA;
}

th {
    background-color: #BDD8DA;
    color: white;
}

div.right p {
	margin-top: 5px;
	margin-bottom: 5px;
}

label {
	font-weight:bold;
	width:100px;
	font-size:14px;
    color: #537D81;
}

.box {
	border:#7D9C9F solid 1px;
	margin-left: 5px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
}

.fn {
	border:#7D9C9F solid 1px;
	margin-left: 5px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
}

button {
    color: #fff;
    background-color: #BDD8DA;
    box-shadow: 0 5px 0 0 #7D9C9F;
    border: none;
	padding: 7px;
	font-weight: bold;
    outline: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

button:hover {
    background-color: #7D9C9F;
    color: white;
}

li a{
    display: block;
    padding: 8px 0 8px 16px;
    color: #fff;
	text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: bold;
    background-color: #BDD8DA;
    border: 0;
	padding: 0;
	height: 25px;
    box-shadow: 0 5px 0 0 #7D9C9F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

li a:hover {
    background-color: #7D9C9F;
    color: white;
    text-decoration: none;
}

a {
    display: block;
    padding: 8px 0 8px 16px;
    color: #fff;
	text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: bold;
    background-color: #BDD8DA;
    border: 0;
	padding: 0;
	height: 25px;
    box-shadow: 0 5px 0 0 #7D9C9F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a:hover {
    background-color: #7D9C9F;
    color: white;
    text-decoration: none;
}